.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.login-logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-left:  auto;
    margin-right: auto;
}
.login-container{
    width: 330px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1.5px solid lightgray;
    padding: 20px;
}

.login-container h1{
    font-weight: 500;
    margin-bottom: 20px;

}
.login-container form h5{
    margin-bottom: 5px;

}

.login-container form input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
.login-container p{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
}

.login-sigin-button{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734;
}

.login-register-button{
    /* background-color: darkgray; */
    /* border-radius: 2px; */
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray
}